/* reset */ 
* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body {
    background-color: whitesmoke;
}

/* styles index */
 header {
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    background-color:rgb(100, 139, 197);
 }

 header img {
    width: 100px;
    animation-name: img-latido;
animation-iteration-count: infinite;
animation-duration: 3s;
animation-delay: 1s;
animation-direction: alternate-reverse;
 }
 /* animacion header img*/
 @keyframes img-latido {
    0% {
        transform: scale(1)
    }
    100%{
        transform: scale(1.2);
    }
   
}
 /* styles main */
main {
    display: flex;
    flex-direction: column;
}
main h1 {
text-align: center;
font-size: 60px;
}
main img {
 width: 25em;
align-self: center;
}

main p {
display: none;
}
/*estilos footer*/
footer {
    display: none;
}

/* mq */

@media screen and (min-width:600px){
    /*estilos de footer */
    
 
footer {
    display: block;
    text-align: center;
}
footer h2 {
    font-size: 20px;
    margin-top: 1em;
    border: solid 0.1em rgb(100, 139, 197) ;
}
 
footer ul li {
    display: inline-block;
    margin: 40px 0px 40px 0px;
    padding: 10px;
}
 
 
footer ul li img {
    width: 20px;
}
 
footer h3 {
    font-size: 15px;
    position: relative;
    bottom: 3em;
}
 
.logo {
    text-decoration: none;
    color: black;
   
}

}
/* MQ */

@media screen and (min-width:1024px){
   /*estilos main*/
    main {
        display: grid;
        grid-template-areas: 
        "h1 h1"
        "img p"
        ;
        
    }
    main h1 {
        grid-area: h1;
    }
    main img {
        grid-area: img;
        justify-self: center;
    }
    main p {
        display: block;
        border: dashed 1px  rgb(100, 139, 197) ;
       width: 30em;
        grid-area: p;
        justify-self: center;
        padding: 0.8em;
        text-align: center;
    }

}

/* estilos pagina bibliografia*/

header h2 {
    border: solid black;
    box-shadow: 6px 5px 5px black;;
    margin-top:  20px;
    }
 
   /*ESTILOS MAIN */
  .main-biblio{
    margin-top: 1em;
    display:grid;
    grid-template-areas: 
    "img titulo1 titulo2 titulo3"
    "img titulo4 titulo4 titulo4";
    
  }
  
  .contenedor-foto{
    grid-area: img;
    justify-self: center; 
  }
  .contenedor-titulo1 {
    grid-area: titulo1;
    justify-self: center; 
  }
  .contenedor-titulo2 {
    grid-area: titulo2;
    justify-self: center; 
  }
  .contenedor-titulo3 {
    grid-area: titulo3;
    justify-self: center; 
  }
  .contenedor-titulo4 {
    grid-area: titulo4;
    justify-self: center; 
  }
  main div h3 {
    text-align: center;
  }
 
footer input {
    margin-bottom: 2em;
    width: 50em;
}