// importando utilidades 
@import "utilidades/mixin.scss";
@import "utilidades/variables.scss";
@import "utilidades/extend.scss";

/*reset*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: whitesmoke;
}

/* styles index */
 header {
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    background-color:$color-fondo;
    img {
        width: 4%;
        animation-name: img-latido;
       @extend %estilosAnimacion;
     }
 }


 /* animacion header img*/
 @keyframes img-latido {
    0% {
        transform: scale(1)
    }
    100%{
        transform: scale(1.2);
    }
   
}
 /* styles main */
main {
    display: flex;
    flex-direction: column;
    h1 {
        text-align: center;
        font-size: 40px;
        margin-top: 0.1em;
        background-color:$color-fondo; 
        @include estilosBorders;
        }
        img {
            width: 60%;
           align-self: center;
           }
            p {
            display: none;
            }
}

/*estilos footer*/
footer {
    display: none;
}

/*estilos section*/


/* mq */
 
@media screen and (min-width:400px) and (max-width: 799px){
    /*estilos de footer */
   
 
footer {
    display: block;
    text-align: center;

    h2 {
        font-size: 20px;
        margin-top: 1em;
        border: solid 0.1em $color-fondo ;
    }
    ul {

    
    li {
        display: inline-block;
        margin: 40px 0px 40px 0px;
        padding: 10px;
    }
    img {
        width: 20px;
    }
   
}
h3 {
    font-size: 15px;
    position: relative;
    bottom: 3em;
}
}


.logo {
    text-decoration: none;
    color: black;
   
}
}
/*mq tablet*/
@media screen and (min-width:800px) and (max-width:1023px) {
   

main {
    display: grid;
    grid-template-areas:
    "h1 h1"
    "img p"
    ;
    h1 {
        grid-area: h1;
    }
    img {
        grid-area: img;
        justify-self: center;
        width: 80%;
    }
    p {
        display: block;
        border: dashed 1px  $color-fondo ;
       width: 24em;
        grid-area: p;
        justify-self: center;
        padding: 0.8em;
        text-align: center;
        margin-right: 1rem;
        
    }
}
footer {
    display: block;
    text-align: center;

    h2 {
        font-size: 20px;
        margin-top: 1em;
        border: solid 0.1em $color-fondo ;
    }
    ul {

    
    li {
        display: inline-block;
        margin: 40px 0px 40px 0px;
        padding: 10px;
    }
    img {
        width: 30px;
        margin-right: 6em;
            margin-left: 6em;
    }
   
}
h3 {
    font-size: 15px;
    position: relative;
    bottom: 3em;
}
    
}

}



/* MQ deskop*/
 
@media screen and (min-width:1024px){
   /*estilos main*/
    main {
        display: grid;
        grid-template-areas:
        "h1 h1"
        "img p"
        ;
        h1 {
            grid-area: h1;
        }
        img {
            grid-area: img;
            justify-self: center;
        }
        p {
            display: block;
            border: dashed 1px  $color-fondo ;
           width: 30em;
            grid-area: p;
            justify-self: center;
            padding: 0.8em;
            text-align: center;
        }
    }
    footer {
        display: block;
        text-align: center;
    
        h2 {
            font-size: 20px;
            margin-top: 1em;
            border: solid 0.1em $color-fondo ;
        }
        ul {
    
        
        li {
            display: inline-block;
            margin: 40px 0px 40px 0px;
            padding: 10px;
        }
       
        img {
            width: 40px;
            margin-right: 6em;
            margin-left: 6em;
        }
       
    }
    h3 {
        font-size: 15px;
        position: relative;
        bottom: 3em;
    }
}
    

 
}

// importando archivos (estilos con sass de las paginas complementarias)
@import "estilos-paginas/style-bibliografia.scss"; 
@import "estilos-paginas/style-clubes.scss";
@import "estilos-paginas/syle-seleccion.scss";
@import "estilos-paginas/styles-mejores-jgs.scss";