/* estilos clubes */
 
/*estilos main*/
/*mq ceulares*/


@media screen and (min-width:600px) {
    .main-clubes{ 
    
.foto-barcelona {
    width: 30%
}
.foto-psg {
    width: 40%;  
}
.text1{
    text-align: center;
    border: solid rgb(53, 50, 50);
    box-shadow: 4px 4px 4px black;
    background-color: rgb(161, 200, 233);
    margin-top: 0.6em;

}
.text2{
    text-align: center;
    border: solid rgb(53, 50, 50);
    box-shadow: 4px 4px 4px black;;
    background-color: rgb(161, 200, 233);
    margin-top: 0.6em;
    
    
}

.tittle1 {
    border: solid  rgb(53, 50, 50);
    box-shadow: 6px 5px 5px black;
    text-align: center;
   
    
}
.tittle2 {
    border: solid  rgb(53, 50, 50);
    box-shadow: 6px 5px 5px black;
    text-align: center;
    
}
    }
}

/*mq deskop*/
@media screen and (min-width:1024px) {

    .main-clubes {
        margin-top: 0.8em;
        display: grid;
        grid-template-areas:
        "tittle1 tittle2"
        "img1 img2"
        "text1 text2" ;
        gap: 1em 1em;
        .foto-barcelona {
            width: 40%;
            grid-area: img1;
           align-items: center;
           
        }
        .foto-psg {
            width: 60%;
            grid-area: img2;
            
           
        }
           
        .text1{
            grid-area: text1;
            justify-self: center;
        
        }
        .text2{
            grid-area: text2;
            justify-self: center;    
        }
         
        .tittle1 {
            grid-area: tittle1;
            justify-self: center;
            width: 10em;
         
        }
        .tittle2{
            grid-area: tittle2;
            justify-self: center;
            align-self: center;
            width: 10em;
        }
         
    }
     
    
    


}