/* estilos mejores jugadas */
 
.main-jugadas {
    display: flex;
    align-items: center;
    .titulos-jugadas {
        display: block;
        text-align: center;
        @include estilosBorders;
        background-color: whitesmoke;
        margin-top: 0.5em;
       }
}
   
 

 
/* MQ */
@media screen and (min-width:400px) and (max-width: 799px) {
 .main-jugadas{
    iframe { 
        width: 80%;
    }
    .contenedores-videos1{
        display: flex;
       align-items: center;
        flex-direction: column;
        width: 50%;
        @include estilosBorders;
        background-color: $color-fondo;
        margin-top: 0.8em;

       
    }
    .contenedores-videos2{
        display: flex;
        align-items: center;
         flex-direction: column;
         width: 50%;
         @include estilosBorders;
         background-color: $color-fondo;
         margin-top: 0.8em;
 
    }
    .contenedores-videos3{
        display: flex;
        align-items: center;
         flex-direction: column;
         width: 50%;
         @include estilosBorders;
         background-color: $color-fondo;
         margin-top: 0.8em;
 
    }
    .contenedores-videos4{
        display: flex;
        align-items: center;
         flex-direction: column;
         width: 50%;
         @include estilosBorders;
         background-color: $color-fondo;
         margin-top: 0.8em;
 
    }

 }   
    
 

    }
 


/*mq tablet*/
@media screen and (min-width:800px) and (max-width: 1023px) {
    .main-jugadas{
        iframe { 
            width: 80%;
        }
        .contenedores-videos1{
            display: flex;
           align-items: center;
            flex-direction: column;
            width: 70%;
            @include estilosBorders;
            background-color: $color-fondo;
            margin-top: 0.8em;
    
           
        }
        .contenedores-videos2{
            display: flex;
            align-items: center;
             flex-direction: column;
             width: 70%;
             @include estilosBorders;
             background-color: $color-fondo;
             margin-top: 0.8em;
     
        }
        .contenedores-videos3{
            display: flex;
            align-items: center;
             flex-direction: column;
             width: 70%;
             @include estilosBorders;
             background-color: $color-fondo;
             margin-top: 0.8em;
     
        }
        .contenedores-videos4{
            display: flex;
            align-items: center;
             flex-direction: column;
             width: 70%;
             @include estilosBorders;
             background-color: $color-fondo;
             margin-top: 0.8em;
     
        }
    
     }   

}



 
 /*mq deskopt*/
@media screen and (min-width:1024px) {
 
    .main-jugadas {
        display: grid;
        grid-template-areas:
        "contenedores-videos1 contenedores-videos2"
        "contenedores-videos3 contenedores-videos4";
        gap: 1em;
        margin-top: 1.2em;
    
     
    .contenedores-videos1 {
        grid-area: contenedores-videos1;
        justify-self: center;
        background-color: $color-fondo;
        @include estilosBorders;
        padding: 1em;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
     
    .contenedores-videos2 {
        grid-area: contenedores-videos2;
        justify-self: center;
        background-color: $color-fondo;
        @include estilosBorders;
        padding: 1em;
        width: 100%;
        display: flex;
        align-items: center;
         flex-direction: column;
    }
     
    .contenedores-videos3 {
        grid-area: contenedores-videos3;
        justify-self: center;
        background-color:$color-fondo;
        @include estilosBorders;
        padding: 1em;
        width: 100%;
        display: flex;
        align-items: center;
         flex-direction: column;
    }
   
     
    .contenedores-videos4 {
        grid-area: contenedores-videos4;
        justify-self: center;
        background-color:$color-fondo;
        @include estilosBorders;
        padding: 1em;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}
 
   
}

