/*estilos bibliografia */
    /*estilos main*/
header h2 {
    border: solid black;
    box-shadow: 6px 5px 5px black;;
    margin-top:  20px;
    animation-name: img-latido;
    @extend %estilosAnimacion;
    font-size: 25px;
    }

 main {
  .contenedor-foto {
    display: flex;
   justify-content: center;  
   }
   div{
    ul {
      ol {
        text-align: start;
      }
    }
}

 }

    
   
    /*mq ceulares*/
    @media screen and (min-width:600px) {
.main-biblio {
  .foto-bibliografia{
    width: 30%;
    margin-top: 0.6em;
    
 }
 .contenedor-titulo1 {
  background-color: $color-fondo;
  text-align: center;
    margin-top: 0.6em;
  @include estilosBorders;
  
}
.contenedor-titulo2 {
  background-color: $color-fondo;
  @include estilosBorders;
  text-align: center;
  margin-top: 0.6em;
}

.contenedor-titulo3 {
  background-color: $color-fondo;
  text-align: center;
    margin-top: 0.6em;
  @include estilosBorders;
 
}
.contenedor-titulo4 {
  background-color: $color-fondo;

  @include estilosBorders;
  text-align: center;
    margin-top: 0.6em;
}

}
      
      
    footer input {
        margin-bottom: 2em;
        width: 50em;
        margin-top: 1em;
        text-align: center;
        
    }

}
/*mq deskop*/
@media screen and (min-width:1024px) {

    .main-biblio{
        margin-top: 1em;
        display:grid;
        grid-template-areas:
        "img titulo1 titulo2 titulo3"
        "img titulo4 titulo4 titulo4";
        gap: 1em 1em;
        .foto-bibliografia{
          width: 80%;
          margin-left: 0.8em;
       }
      .contenedor-foto{
          grid-area: img;
          justify-self: center;
        }
        .contenedor-titulo1 {
          grid-area: titulo1;
      
          
        }
        .contenedor-titulo2 {
          grid-area: titulo2;
          text-align: center ;
         
        }
        .contenedor-titulo3 {
          grid-area: titulo3;
          
          text-align: center;
         
        }
        .contenedor-titulo4 {
          grid-area: titulo4;
          
          text-align: center ;
        }
    }
    
    
}